<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paciente</title>
</head>
<body>
<h1>Detalles del Paciente</h1>
<div th:if="${paciente != null}">
    <p>ID: <span th:text="${paciente.id}"></span></p>
    <p>Nombre: <span th:text="${paciente.nombre}"></span></p>
    <p>Apellido: <span th:text="${paciente.apellido}"></span></p>
    <p>Cédula: <span th:text="${paciente.cedula}"></span></p>
    <p>Email: <span th:text="${paciente.email}"></span></p>
    <p>Fecha de Ingreso: <span th:text="${paciente.fechaIngreso}"></span></p>
    <p>Domicilio: <span th:text="${paciente.domicilio.calle + ' ' + paciente.domicilio.numero}"></span></p>
</div>
<div th:if="${mensaje != null}">
    <p th:text="${mensaje}"></p>
</div>
</body>
</html>
